<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maebaldwin.petdaycare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_green"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgRGA0UTUm41uxV-4Da-5PVPa52uMFuEA" />

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".BrowseSitters" />
        <activity android:name=".Services" />
        <activity android:name=".SitterProfile"></activity>
        <activity android:name=".AccountProfile"></activity>
        <activity android:name=".CreateUserAccount"></activity>
        <activity android:name=".Reviews" />

    </application>

</manifest>